Source: friends
Section: misc
Priority: extra
Maintainer: Ken VanDine <ken.vandine@canonical.com>
Build-Depends: debhelper (>= 9),
               python3,
               python3-distutils-extra
Standards-Version: 3.9.3
Homepage: https://launchpad.net/friends

Package: friends-facebook
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop - Facebook
 Provides social networking integration with the desktop

Package: friends-twitter
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop - Twitter
 Provides social networking integration with the desktop

Package: friends-identica
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop - Identi.ca
 Provides social networking integration with the desktop

Package: friends-foursquare
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop - Foursquare
 Provides social networking integration with the desktop

Package: friends-flickr
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop - Flickr
 Provides social networking integration with the desktop

Package: friends
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Social integration with the desktop
 Provides social networking integration with the desktop
