#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	python3 setup.py clean -a
	dh_auto_clean -D service


override_dh_auto_configure:
	dh_auto_configure -D service

override_dh_auto_build:
	python3 setup.py build
	dh_auto_build -D service

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
	python3 setup.py install_service_files -d $(CURDIR)/debian/tmp/usr
	dh_auto_install -D service
	dh_install --list-missing

override_dh_auto_test:
	#dbus-test-runner -t make -p check -m 60

%:
	dh $@ --with python3,autoreconf
