#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	python3 setup.py clean -a
	dh_auto_clean -D service


override_dh_auto_configure:
	dh_auto_configure -D service

override_dh_auto_build:
	python3 setup.py build
	dh_auto_build -D service

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
	python3 setup.py install_service_files -d $(CURDIR)/debian/tmp/usr
	rm -rf $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/friends/tests/test*
	rm -rf $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/friends/*/__pycache__
	rm -rf $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/friends/__pycache__
	dh_auto_install -D service
	dh_install --fail-missing

override_dh_auto_test:
	dbus-test-runner -t make -p check -m 300

%:
	dh $@ --with python3,autoreconf
